In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [36]:
# Touchdowns
output_data_touchdown = "TeamMerge/TeamTouchdown.csv"
touchdown = "Resources/Team_Stats_2012_2018_Touchdowns.csv"
touchdown_data = pd.read_csv(touchdown)
touchdown_data["Key"] = touchdown_data["Team ID"] + " " + touchdown_data["Season"].map(str)
touchdown_data.columns
touchdown_data_final = touchdown_data[['Key', 'Season', 'Team ID', 'TD Fumble Returns',
       'TD Interception Return', 'TD Kick Return', 'TD Other', 'TD Pass',
       'TD Punt Return', 'TD Rush', 'TD Total', 'TD Total Return']]
touchdown_data_final.to_csv (output_data_touchdown, index = None, header=True) 
touchdown_data_final.head()

,Key,Season,Team ID,TD Fumble Returns,TD Interception Return,TD Kick Return,TD Other,TD Pass,TD Punt Return,TD Rush,TD Total,TD Total Return
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,2012,768c92aa-75ff-4a43-bcc0-f2798c2e1724,0,1,1,0,24,2,12,40,4
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,2012,4809ecb0-abd3-451d-9c4a-92a90b83ca06,0,0,1,1,13,1,15,31,2
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,2012,5fee86ae-74ab-4bdd-8416-42a9dd9964f3,1,2,1,0,14,1,12,31,5
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,2012,97354895-8c77-4fd4-a860-32e62ea7382a,4,2,1,0,34,1,25,67,8
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,2012,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123,1,2,0,0,28,1,11,43,4

In [34]:
# Rushes
output_data_rush = "TeamMerge/TeamRush.csv"
rush = "Resources/Team_Stats_2012_2018_Rush.csv"
rush_data = pd.read_csv(rush)
rush_data["Key"] = rush_data["Team ID"] + " " + rush_data["Season"].map(str)
rush_data.columns
rush_data_final = rush_data[['Key', 'Rush Attempts',
       'Rush Avg Yards', 'Rush Broken Tackles', 'Rush Kneel Downs',
       'Rush Longest', 'Rush Longest TD', 'Rush Red Zone Attempts',
       'Rush Scrambles', 'Rush Tackles for Loss',
       'Rush Tackles for Loss Yards', 'Rush Touchdowns', 'Rush Yards',
       'Rush Yards After Contact']]
rush_data_final.to_csv (output_data_rush, index = None, header=True) 
rush_data_final.head()

,Key,Rush Attempts,Rush Avg Yards,Rush Broken Tackles,Rush Kneel Downs,Rush Longest,Rush Longest TD,Rush Red Zone Attempts,Rush Scrambles,Rush Tackles for Loss,Rush Tackles for Loss Yards,Rush Touchdowns,Rush Yards,Rush Yards After Contact
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,442,5.016,0,11,62,56,8,0,37,-92,12,2217,1219
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,440,4.095,0,20,65,65,4,0,41,-104,15,1802,907
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,494,3.838,0,7,61,11,12,0,32,-78,12,1896,1056
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,523,4.176,0,17,47,15,3,0,50,-124,25,2184,1175
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,430,4.058,0,20,48,11,2,0,24,-49,11,1745,876

In [33]:
# Receiving
output_data_receiving = "TeamMerge/TeamReceiving.csv"
receiving = "Resources/Team_Stats_2012_2018_Receiving.csv"
receiving_data = pd.read_csv(receiving)
receiving_data["Key"] = receiving_data["Team ID"] + " " + receiving_data["Season"].map(str)
receiving_data.columns
receiving_data_final = receiving_data[['Key', 'Rec Air Yards',
       'Rec Avg Yards', 'Rec Broken Tackles', 'Rec Catchable Passes',
       'Rec Dropped Passes', 'Rec Longest', 'Rec Longest TD', 'Rec Receptions',
       'Rec Red Zone Targets', 'Rec Targets', 'Rec Touchdowns', 'Rec Yards',
       'Rec Yards After Catch', 'Rec Yards After Contact']]
receiving_data_final.to_csv (output_data_receiving, index = None, header=True) 
receiving_data_final.head()

,Key,Rec Air Yards,Rec Avg Yards,Rec Broken Tackles,Rec Catchable Passes,Rec Dropped Passes,Rec Longest,Rec Longest TD,Rec Receptions,Rec Red Zone Targets,Rec Targets,Rec Touchdowns,Rec Yards,Rec Yards After Catch,Rec Yards After Contact
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,1625,11.100,0,0,37,68,68,309,5,509,24,3430,1805,0
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,2154,11.689,0,0,37,80,80,293,5,500,13,3425,1271,0
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,2054,11.684,0,0,33,66,33,272,4,488,14,3178,1124,0
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,2607,12.050,0,0,48,83,83,402,3,634,34,4844,2237,0
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,2112,11.364,0,0,28,73,73,335,10,529,28,3807,1695,0

In [32]:
# Punts
output_data_punts = "TeamMerge/TeamPunts.csv"
punts = "Resources/Team_Stats_2012_2018_Punts.csv"
punts_data = pd.read_csv(punts)
punts_data["Key"] = punts_data["Team ID"] + " " + punts_data["Season"].map(str)
punts_data.columns
punts_data_final = punts_data[['Key', 'Punt Attempts',
       'Punt Avg Hang Time', 'Punt Avg Net Yards', 'Punt Avg Yards',
       'Punt Blocked', 'Punt Hangtime', 'Punt Inside 20', 'Punt Longest',
       'Punt Net Yards', 'Punt Return Yards', 'Punt Touchbacks', 'Punt Yards']]
punts_data_final.to_csv (output_data_punts, index = None, header=True) 
punts_data_final.head()

,Key,Punt Attempts,Punt Avg Hang Time,Punt Avg Net Yards,Punt Avg Yards,Punt Blocked,Punt Hangtime,Punt Inside 20,Punt Longest,Punt Net Yards,Punt Return Yards,Punt Touchbacks,Punt Yards
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,80,4.146,37.063,44.275,0,331.70,25,66,2965,517,3,3542
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,76,4.254,40.724,49.724,0,323.34,30,67,3095,484,10,3779
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,86,4.387,39.440,45.810,2,368.50,27,61,3313,375,8,3848
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,61,4.308,38.517,43.083,1,258.50,28,62,2311,154,6,2585
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,76,4.297,41.974,46.579,0,326.55,33,69,3190,210,7,3540

In [31]:
# Punt Returns
output_data_puntreturns = "TeamMerge/TeamPuntreturns.csv"
puntreturns = "Resources/Team_Stats_2012_2018_Puntreturns.csv"
puntreturns_data = pd.read_csv(puntreturns)
puntreturns_data["Key"] = puntreturns_data["Team ID"] + " " + puntreturns_data["Season"].map(str)
puntreturns_data.columns
puntreturns_data_final = puntreturns_data[['Key', 'Punt Returns Avg Yards',
       'Punt Returns Fair Catches', 'Punt Returns Longest',
       'Punt Returns Longest TD', 'Punt Returns Returns',
       'Punt Returns Touchdowns', 'Punt Returns Yards']]
puntreturns_data_final.to_csv (output_data_puntreturns, index = None, header=True) 
puntreturns_data_final.head()

,Key,Punt Returns Avg Yards,Punt Returns Fair Catches,Punt Returns Longest,Punt Returns Longest TD,Punt Returns Returns,Punt Returns Touchdowns,Punt Returns Yards
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,17.115,21,88,88,26,2,445
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,11.161,25,72,72,31,1,346
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,10.348,38,68,68,23,1,238
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,12.048,8,68,68,42,1,506
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,10.383,11,81,81,47,1,488

In [30]:
# Penalties
output_data_penalties = "TeamMerge/TeamPenalties.csv"
penalties = "Resources/Team_Stats_2012_2018_Penalties.csv"
penalties_data = pd.read_csv(penalties)
penalties_data["Key"] = penalties_data["Team ID"] + " " + penalties_data["Season"].map(str)
penalties_data.columns
penalties_data_final = penalties_data[['Key', 'Penalties', 'Penalty Yards']]
penalties_data_final.to_csv (output_data_penalties, index = None, header=True) 
penalties_data_final.head()

                                         Key  Penalties  Penalty Yards
0  768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012        104            871
1  4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012         82            724
2  5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012         83            708
3  97354895-8c77-4fd4-a860-32e62ea7382a 2012         97            840
4  ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012         99            857

In [29]:
# Passing
output_data_passing = "TeamMerge/TeamPassing.csv"
passing = "Resources/Team_Stats_2012_2018_Passing.csv"
passing_data = pd.read_csv(passing)
passing_data["Key"] = passing_data["Team ID"] + " " + passing_data["Season"].map(str)
passing_data.columns
passing_data_final = passing_data[['Key', 'Pass Air Yds',
       'Pass Attempts', 'Pass Avg Pocket Time', 'Pass Poor Throws',
       'Passing Avg Yards', 'Passing Blitzes', 'Passing Completion Pct',
       'Passing Completions', 'Passing Defended Passes',
       'Passing Dropped Passes', 'Passing Gross Yards', 'Passing Hurries',
       'Passing Interceptions', 'Passing Knockdowns', 'Passing Longest',
       'Passing Longest TD', 'Passing Net Yds', 'Passing Pocket Time',
       'Passing Rating', 'Passing Redzone Attempts', 'Passing Sack Yds',
       'Passing Sacks', 'Passing Spikes', 'Passing Throw Away',
       'Passing Touchdowns', 'Passing Yards']]
passing_data_final.to_csv (output_data_passing, index = None, header=True) 
passing_data_final.head()

,Key,Pass Air Yds,Pass Attempts,Pass Avg Pocket Time,Pass Poor Throws,Passing Avg Yards,Passing Blitzes,Passing Completion Pct,Passing Completions,Passing Defended Passes,...,Passing Net Yds,Passing Pocket Time,Passing Rating,Passing Redzone Attempts,Passing Sack Yds,Passing Sacks,Passing Spikes,Passing Throw Away,Passing Touchdowns,Passing Yards
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,1625,511,0,0,6.712,167,60.470,309,0,...,3269,0.0,82,5,161,30,0,0,24,3269
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,2154,504,0,0,6.796,192,58.135,293,0,...,3182,0.0,76,5,243,37,0,0,13,3182
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,2054,493,0,0,6.446,213,55.172,272,0,...,2891,0.0,68,4,287,47,0,0,14,2891
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,2607,641,0,0,7.557,177,62.715,402,0,...,4662,0.0,97,3,182,27,0,0,34,4662
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,2112,540,0,0,7.050,196,62.037,335,0,...,3578,0.0,88,10,229,46,0,0,28,3578

In [28]:
output_data_kickreturns = "TeamMerge/TeamKickreturns.csv"
kickreturns = "Resources/Team_Stats_2012_2018_Kickreturns.csv"
kickreturns_data = pd.read_csv(kickreturns)
kickreturns_data["Key"] = kickreturns_data["Team ID"] + " " + kickreturns_data["Season"].map(str)
kickreturns_data.columns
kickreturns_data_final = kickreturns_data[['Key', 'Kick Return Yards',
       'Kick Return Avg Yards', 'Kick Return Fair Catches',
       'Kick Return Longest', 'Kick Return Returns', 'Kick Return Touchdowns']]
kickreturns_data_final.to_csv (output_data_kickreturns, index = None, header=True) 
kickreturns_data_final.head()

,Key,Kick Return Yards,Kick Return Avg Yards,Kick Return Fair Catches,Kick Return Longest,Kick Return Returns,Kick Return Touchdowns
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,1136,27.048,0,89,42,1
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,1082,27.050,0,96,40,1
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,1308,26.160,0,100,50,1
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,807,21.237,0,104,38,1
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,928,22.634,0,0,41,0

In [27]:
# Kick Offs
output_data_kickoffs = "TeamMerge/TeamKickoffs.csv"
kickoffs = "Resources/Team_Stats_2012_2018_Kickoffs.csv"
kickoffs_data = pd.read_csv(kickoffs)
kickoffs_data["Key"] = kickoffs_data["Team ID"] + " " + kickoffs_data["Season"].map(str)
kickoffs_data.columns
kickoffs_data_final = kickoffs_data[['Key', 'Kick Off End Zone',
       'Kick Off Inside 20', 'Kick Off Kick Offs', 'Kick Off Onside Attempts',
       'Kick Off Onside Successes', 'Kick Off OOB', 'Kick Off Ret Yds',
       'Kick Off Squib Kicks', 'Kick Off Touchbacks', 'Kick Off Yds']]
kickoffs_data_final.to_csv (output_data_kickoffs, index = None, header=True) 
kickoffs_data_final.head()

,Key,Kick Off End Zone,Kick Off Inside 20,Kick Off Kick Offs,Kick Off Onside Attempts,Kick Off Onside Successes,Kick Off OOB,Kick Off Ret Yds,Kick Off Squib Kicks,Kick Off Touchbacks,Kick Off Yds
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,20,12,73,2,0,0,1144,0,20,4493
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,27,17,71,2,1,0,868,0,34,4545
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,30,26,69,2,0,1,1184,0,12,4298
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,35,20,112,1,0,0,1229,0,52,7121
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,42,23,88,1,0,0,1468,0,27,5727

In [26]:
# Interceptions
output_data_interceptions = "TeamMerge/TeamInterceptions.csv"
interceptions = "Resources/Team_Stats_2012_2018_Interceptions.csv"
interceptions_data = pd.read_csv(interceptions)
interceptions_data["Key"] = interceptions_data["Team ID"] + " " + interceptions_data["Season"].map(str)
interceptions_data.columns
interceptions_data_final = interceptions_data[['Key', 'Interceptions',
       'Interception Return Yards', 'Interceptions Returned']]
interceptions_data_final.to_csv (output_data_interceptions, index = None, header=True) 
interceptions_data_final.head()

,Key,Interceptions,Interception Return Yards,Interceptions Returned
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,12,178,12
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,10,99,10
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,11,117,11
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,20,371,20
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,14,164,14

In [38]:
# Interception Returns
output_data_interceptionreturns = "TeamMerge/TeamInterceptionreturns.csv"
interceptionreturns = "Resources/Team_Stats_2012_2018_Interceptionreturns.csv"
interceptionreturns_data = pd.read_csv(interceptionreturns)
interceptionreturns_data["Key"] = interceptionreturns_data["Team ID"] + " " + interceptionreturns_data["Season"].map(str)
interceptionreturns_data.columns
interceptionreturns_data_final = interceptionreturns_data[['Key', 'Int Ret Avg Yds',
       'Int Ret Longest', 'Int Ret Longest TD', 'Int Ret Returns',
       'Int Ret Touchdowns', 'Int Ret Yds']]
interceptionreturns_data_final.to_csv (output_data_interceptionreturns, index = None, header=True) 
interceptionreturns_data_final.head()

,Key,Int Ret Avg Yds,Int Ret Longest,Int Ret Longest TD,Int Ret Returns,Int Ret Touchdowns,Int Ret Yds
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,14.833,45,20,12,1,178
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,9.900,31,0,10,0,99
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,10.636,40,40,11,2,117
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,18.550,87,87,20,2,371
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,11.714,44,17,14,2,164

In [41]:
# Games Played
output_data_gamesplayed = "TeamMerge/TeamGamesplayed.csv"
gamesplayed = "Resources/Team_Stats_2012_2018_Games_Played.csv"
gamesplayed_data = pd.read_csv(gamesplayed)
gamesplayed_data["Key"] = gamesplayed_data["Team ID"] + " " + gamesplayed_data["Season"].map(str)
gamesplayed_data.columns
gamesplayed_data_final = gamesplayed_data[['Key', 'Games Played']]
gamesplayed_data_final.to_csv (output_data_gamesplayed, index = None, header=True) 
gamesplayed_data_final.head()

                                         Key  Games Played
0  768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012            16
1  4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012            16
2  5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012            16
3  97354895-8c77-4fd4-a860-32e62ea7382a 2012            16
4  ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012            16

In [43]:
# Fumbles
output_data_fumbles = "TeamMerge/TeamFumbles.csv"
fumbles = "Resources/Team_Stats_2012_2018_Fumbles.csv"
fumbles_data = pd.read_csv(fumbles)
fumbles_data["Key"] = fumbles_data["Team ID"] + " " + fumbles_data["Season"].map(str)
fumbles_data.columns
fumbles_data_final = fumbles_data[['Key', 'Fumble End Zone Touch Downs', 'Forced Fumbles', 'Fumbles',
       'Lost Fumbles', 'Fumbles Opponent Recovery',
       'Fumbles Opponent Recovery Touchdowns',
       'Fumbles Opponent Recovery Yards', 'Fumbles Out of Bounds',
       'Fumbles Own Recovery', 'Fumbles Own Recovery Touchdowns',
       'Fumbles Own Recovery Yards']]
fumbles_data_final.to_csv (output_data_fumbles, index = None, header=True) 
fumbles_data_final.head()

,Key,Fumble End Zone Touch Downs,Forced Fumbles,Fumbles,Lost Fumbles,Fumbles Opponent Recovery,Fumbles Opponent Recovery Touchdowns,Fumbles Opponent Recovery Yards,Fumbles Out of Bounds,Fumbles Own Recovery,Fumbles Own Recovery Touchdowns,Fumbles Own Recovery Yards
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,0,21,23,17,9,0,8,0,6,0,-15
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,0,15,25,13,6,0,21,3,9,0,-8
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,0,14,32,18,12,1,82,1,13,0,-14
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,0,30,14,7,21,3,82,3,4,1,-3
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,0,16,19,10,16,1,53,1,8,0,-11

In [50]:
# First Downs
output_data_firstdowns = "TeamMerge/TeamFirstdowns.csv"
firstdowns = "Resources/Team_Stats_2012_2018_Firstdown.csv"
firstdowns_data = pd.read_csv(firstdowns)
firstdowns_data["Key"] = firstdowns_data["Team ID"] + " " + firstdowns_data["Season"].map(str)
firstdowns_data.columns
firstdowns_data_final = firstdowns_data[['Key', 'FD Pass', 'FD Penalty',
       'FD Rush', 'FD Total']]
firstdowns_data_final.to_csv (output_data_firstdowns, index = None, header=True) 
firstdowns_data_final.head()

,Key,FD Pass,FD Penalty,FD Rush,FD Total
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,176,22,103,301
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,158,37,93,288
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,162,35,102,299
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,256,37,151,444
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,173,24,95,292

In [52]:
# Field Goals
output_data_fieldgoals = "TeamMerge/TeamFieldgoals.csv"
fieldgoals = "Resources/Team_Stats_2012_2018_Fieldgoals.csv"
fieldgoals_data = pd.read_csv(fieldgoals)
fieldgoals_data["Key"] = fieldgoals_data["Team ID"] + " " + fieldgoals_data["Season"].map(str)
fieldgoals_data.columns
fieldgoals_data_final = fieldgoals_data[['Key', 'Field Goal Attempts',
       'Field Goal Avg Yards', 'Field Goal Blocked', 'Field Goal Longest',
       'Field Goal Made', 'Field Goal Yards']]
fieldgoals_data_final.to_csv (output_data_fieldgoals, index = None, header=True) 
fieldgoals_data_final.head()

,Key,Field Goal Attempts,Field Goal Avg Yards,Field Goal Blocked,Field Goal Longest,Field Goal Made,Field Goal Yards
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,24,30.583,0,50,21,734
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,30,30.069,1,53,23,872
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,27,31.083,3,54,21,746
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,35,29.714,0,53,29,1040
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,35,30.286,0,55,30,1060

In [54]:
# Extra Points
output_data_extrapoints = "TeamMerge/TeamExtrapoints.csv"
extrapoints = "Resources/Team_Stats_2012_2018_Extrapoints.csv"
extrapoints_data = pd.read_csv(extrapoints)
extrapoints_data["Key"] = extrapoints_data["Team ID"] + " " + extrapoints_data["Season"].map(str)
extrapoints_data.columns
extrapoints_data_final = extrapoints_data[['Key', 'Extra Pts Attempts','Extra Pts Blocked', 'Extra Pts Made']]
extrapoints_data_final.to_csv (output_data_extrapoints, index = None, header=True) 
extrapoints_data_final.head()

,Key,Extra Pts Attempts,Extra Pts Blocked,Extra Pts Made
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,39,0,39
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,29,0,29
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,30,0,30
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,66,0,66
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,43,0,43

In [56]:
# Efficiency
output_data_efficiency = "TeamMerge/TeamEfficiency.csv"
efficiency = "Resources/Team_Stats_2012_2018_Efficiency.csv"
efficiency_data = pd.read_csv(efficiency)
efficiency_data["Key"] = efficiency_data["Team ID"] + " " + efficiency_data["Season"].map(str)
efficiency_data.columns
efficiency_data_final = efficiency_data[['Key', '3D Attempt', '3D Successes',
       '3D Pct', '4D Attempt', '4D Successes', '4D Pct', 'Goal to Go Attempts',
       'Goal to Go Successes', 'Goal to Go Pct', 'RedZone Attempts',
       'RedZone Successes', 'RedZone Pct']]
efficiency_data_final.to_csv (output_data_efficiency, index = None, header=True) 
efficiency_data_final.head()

,Key,3D Attempt,3D Successes,3D Pct,4D Attempt,4D Successes,4D Pct,Goal to Go Attempts,Goal to Go Successes,Goal to Go Pct,RedZone Attempts,RedZone Successes,RedZone Pct
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,198,77,38.889,8,5,62.500,20,14,70.000,48,24,50.000
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,207,78,37.681,15,5,33.333,19,15,78.947,38,21,55.263
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,217,80,36.866,14,7,50.000,22,14,63.636,47,23,48.936
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,226,110,48.673,12,8,66.667,49,39,79.592,70,49,70.000
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,217,74,34.101,16,11,68.750,28,19,67.857,57,31,54.386

In [58]:
# Defense
output_data_defense = "TeamMerge/TeamDefense.csv"
defense = "Resources/Team_Stats_2012_2018_Defense.csv"
defense_data = pd.read_csv(defense)
defense_data["Key"] = defense_data["Team ID"] + " " + defense_data["Season"].map(str)
defense_data.columns
defense_data_final = defense_data[['Key', 'Def Assisted Tackles',
       'Def Blitzes', 'Def Combined Tackles', 'Def Defensive Completions',
       'Def Defensive Targets', 'Def Forced Fumbles', 'Def Fumble Recoveries',
       'Def Hurries', 'Def Interceptions', 'Def Knockdowns',
       'Def Misc Assists', 'Def Misc Forced Fumbles',
       'Def Misc Fumble Recoveries', 'Def Misc Tackles', 'Def Missed Tackles',
       'Def Passes Defended', 'Def QB Hits', 'Def Sack Yards', 'Def Sacks',
       'Def Safeties', 'Def Special Team Assists', 'Def Special Team Bocks',
       'Def Special Team Forced Fumbles', 'Def Special Team Fumble Recoveries',
       'Def Special Team Tackles', 'Def Tackles', 'Def Tackles for Loss',
       'Def Tackles for Loss Yards']]
defense_data_final.to_csv (output_data_defense, index = None, header=True) 
defense_data_final.head()

,Key,Def Assisted Tackles,Def Blitzes,Def Combined Tackles,Def Defensive Completions,Def Defensive Targets,Def Forced Fumbles,Def Fumble Recoveries,Def Hurries,Def Interceptions,...,Def Sacks,Def Safeties,Def Special Team Assists,Def Special Team Bocks,Def Special Team Forced Fumbles,Def Special Team Fumble Recoveries,Def Special Team Tackles,Def Tackles,Def Tackles for Loss,Def Tackles for Loss Yards
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,271,0,936,301,473,18,8,156,12,...,36.0,1,15,5,2,0,77,665,72.0,0.0
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,209,0,897,346,559,11,5,138,10,...,42.0,0,19,3,4,2,67,688,78.0,0.0
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,260,0,866,262,441,13,11,116,11,...,30.0,1,16,1,1,4,73,606,67.0,0.0
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,295,0,904,368,569,28,20,141,20,...,37.0,1,23,0,2,1,67,609,72.0,43.0
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,361,0,973,342,512,16,13,164,14,...,51.0,0,28,1,0,5,69,612,85.0,0.0

In [61]:
# Conversions
output_data_conversions = "TeamMerge/TeamConversions.csv"
conversions = "Resources/Team_Stats_2012_2018_Conversions.csv"
conversions_data = pd.read_csv(conversions)
conversions_data["Key"] = conversions_data["Team ID"] + " " + conversions_data["Season"].map(str)
conversions_data.columns
conversions_data_final = conversions_data[['Key', 'Converse Defense Attempts',
       'Converse Defense Success', 'Converse Pass Attempts',
       'Converse Pass Success', 'Converse Rush Attempts',
       'Converse Rush Success', 'Converse Turnover Success']]
conversions_data_final.to_csv (output_data_conversions, index = None, header=True) 
conversions_data_final.head()

,Key,Converse Defense Attempts,Converse Defense Success,Converse Pass Attempts,Converse Pass Success,Converse Rush Attempts,Converse Rush Success,Converse Turnover Success
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,0,0,1,0,0,0,0
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,0,0,2,2,0,0,0
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,0,0,1,0,0,0,0
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,0,0,1,0,0,0,0
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,0,0,0,0,0,0,0

In [66]:
output_data_final = "TeamMerge/merged_team_data_2012_2018.csv"
df1 = pd.merge(touchdown_data_final, rush_data_final, how = 'left', on="Key")
df2 = pd.merge(df1, receiving_data_final, how = 'left', on="Key")
df3 = pd.merge(df2, punts_data_final, how = 'left', on="Key")
df4 = pd.merge(df3, puntreturns_data_final, how = 'left', on="Key")
df5 = pd.merge(df4, penalties_data_final, how = 'left', on="Key")
df6 = pd.merge(df5, passing_data_final, how = 'left', on="Key")
df7 = pd.merge(df6, kickreturns_data_final, how = 'left', on="Key")
df8 = pd.merge(df7, kickoffs_data_final, how = 'left', on="Key")
df9 = pd.merge(df8, interceptions_data_final, how = 'left', on="Key")
df10 = pd.merge(df9, interceptionreturns_data_final, how = 'left', on="Key")
df11 = pd.merge(df10, gamesplayed_data_final, how = 'left', on="Key")
df12 = pd.merge(df11, fumbles_data_final, how = 'left', on="Key")
df13 = pd.merge(df12, firstdowns_data_final, how = 'left', on="Key")
df14 = pd.merge(df13, fieldgoals_data_final, how = 'left', on="Key")
df15 = pd.merge(df14, extrapoints_data_final, how = 'left', on="Key")
df16 = pd.merge(df15, efficiency_data_final, how = 'left', on="Key")
df17 = pd.merge(df16, defense_data_final, how = 'left', on="Key")
merged_data_2012_2018 = pd.merge(df17, conversions_data_final, how = 'left', on="Key")
merged_data_2012_2018.to_csv (output_data_final, index = None, header=True)
merged_data_2012_2018.head()

,Key,Season,Team ID,TD Fumble Returns,TD Interception Return,TD Kick Return,TD Other,TD Pass,TD Punt Return,TD Rush,...,Def Tackles,Def Tackles for Loss,Def Tackles for Loss Yards,Converse Defense Attempts,Converse Defense Success,Converse Pass Attempts,Converse Pass Success,Converse Rush Attempts,Converse Rush Success,Converse Turnover Success
0,768c92aa-75ff-4a43-bcc0-f2798c2e1724 2012,2012,768c92aa-75ff-4a43-bcc0-f2798c2e1724,0,1,1,0,24,2,12,...,665,72.0,0.0,0,0,1,0,0,0,0
1,4809ecb0-abd3-451d-9c4a-92a90b83ca06 2012,2012,4809ecb0-abd3-451d-9c4a-92a90b83ca06,0,0,1,1,13,1,15,...,688,78.0,0.0,0,0,2,2,0,0,0
2,5fee86ae-74ab-4bdd-8416-42a9dd9964f3 2012,2012,5fee86ae-74ab-4bdd-8416-42a9dd9964f3,1,2,1,0,14,1,12,...,606,67.0,0.0,0,0,1,0,0,0,0
3,97354895-8c77-4fd4-a860-32e62ea7382a 2012,2012,97354895-8c77-4fd4-a860-32e62ea7382a,4,2,1,0,34,1,25,...,609,72.0,43.0,0,0,1,0,0,0,0
4,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123 2012,2012,ad4ae08f-d808-42d5-a1e6-e9bc4e34d123,1,2,0,0,28,1,11,...,612,85.0,0.0,0,0,0,0,0,0,0